/* img{
    width: 100px;
    border-radius: 100px;
    padding-top: 20px;
} */

h1{
    color: aqua;
}

h1:hover{
color: blueviolet;
}

p{
    color: red;
    padding-bottom: 20px;
}

.kelas{
    color: brown;
}

.kelas:hover{
    color: blanchedalmond;
}

/* .judul{

} */

.card{
    text-align: center;
    background-color: aliceblue;
    width: 300px;
    margin-left: 500px;
    border-radius: 2cqb;
    box-shadow: 10px 5px rgba(128, 128, 128, 0.217);
}

*{
    scroll-behavior: smooth;
}

body{
    background-color: lightgrey;
    margin: 0px;

}

button{
    background-color: chartreuse;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

button:hover{
    background-color: aliceblue;
    color: chartreuse;
    cursor: pointer;
    transition: 1s;

}

nav{
    background-color: indigo;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    margin: 0 20px;
}

.logo{
    margin: 0 20px;
    background: linear-gradient(
        90deg,
        chartreuse,
        rgb(0, 255, 200),
        rgb(212, 0, 255)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-weight: bold;
}

.menu ul{
    display: flex;
    gap: 20px;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover{
    color: chartreuse;
    cursor: pointer;
    transition: 1s;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left{
    max-width: 50%;
}

.hero-left h1{
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
}

.hero-left p{
    color: grey;
    font-size: 20px ;

}

.hero-right img{
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 15px 30px black;
    margin: 80px;
}

/* Contact Section */

.contact{
    padding: 80px;
    background-color: whitesmoke;
}

.contact-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.contact-info{
    max-width: 400px;
}

.contact-info p{
    margin-top: 15px;
    color: #333;
}

.contact-map iframe{
    border-radius: 15px;
    box-shadow: 0 10px 25px black;
}

.contact h2{
    text-align: center;
    margin-bottom: 100px;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 50px 20px;
    margin-top: 50px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

footer h3,footer h4{
    margin-bottom: 20px;
}

footer p{
    max-width: 300px;
    line-height: 1.5;
    color: white;
}

.footer-links ul{
    list-style: none;
}

.footer-links li{
    margin-bottom: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: rgba(240, 255, 255, 0.745);
}

.footer-social a{
    display: block;
    margin-bottom: 8px;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid lightgray;
    margin-top: 30px;
    font-size: 14px;
    color: lightgray;
}
